/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Font and Base Colors . The text color of the main table showing the output - AKG*/
  body {
    font-family: 'Inter', sans-serif;
    background-color: #fcfcfc;
    color: #ffffff;
    line-height: 1.2;
  }
  
  /* Container */
  .container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1.5rem;
    background: #0c0c0c;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* Header */
  header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  header h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #2c3e50;
    text-align: center;
  }
  
  header p {
    font-size: 1.1rem;
    font-weight: 400;
    color: #8d7f8a;
  }
  
  /* Table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  thead {
    background-color: #7a3ff1e6;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  thead th {
    padding: 0.75rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 00;
  }
  
  tbody tr {
    border-bottom: 1px solid #ffffff;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  tbody tr:hover {
    background-color: #302d2d;
  }
  
  tbody td {
    padding: 0.75rem;
    font-size: 0.95rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }
  
  /* Color Indicators */
  tbody td.positive {
    color: #27ae60;
    font-weight: bold;
  }
  
  tbody td.negative {
    color: #e74c3c;
    font-weight: bold;
  }
  
  /* Footer */
  footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #95a5a6;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    header h1 {
      font-size: 2rem;
    }
  
    thead th, tbody td {
      font-size: 0.5rem;
    }
  
    .container {
      padding: 1rem;
    }
  }
  