<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Portfolio Tracker</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/CSS/styles.css">

    <!-- Add defer to make sure the scripts are executed after HTML load -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/JS/stocks.js"></script>
</head>

<body>
    <div class="container">
        <h1 style="text-align: center;">Stock Summary</h1>
        <button id="refresh-btn" class="btn btn-primary mb-3">Refresh</button>
        <table>
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>Buy Price</th>
                    <th>Quantity</th>
                    <th>Invested Amount</th>
                    <th>Current Price</th>
                    <th>Profit/Loss</th>
                    <th>Percentage Change</th>
                    <th>Today's Change</th>
                    <th>Today's Change Percent</th>
                </tr>
            </thead>
            <tbody id="stock-table-body">
                <!-- Rows will be populated here -->
            </tbody>
        </table>
        <footer>
            <p>Developed by AKG to track my stock trading | © 2024</p>
          </footer>
    </div>
</body>
</html>
